@import "tailwindcss";

:root {
  --glass-background-color: rgba(255, 255, 255, 0.1);
  --glass-border-radius: 8px;
  --glass-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.glass {
  background-color: var(--glass-background-color);
  border-radius: var(--glass-border-radius);
  box-shadow: var(--glass-box-shadow);
}
